#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #bcc1ba;
  font-family: Verdana;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

header {
  background-color: #46b1c9;
  font-family: Arial;
  text-align: center;
  display: grid;
  grid-template-columns: 150px auto;
}
.logo {
  width: 120px;
  padding: 15px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a:hover {
  background-color: #46b1c9;
  color: white;
  text-decoration: underline;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 25px;
}
.home-title {
  color: #2d5d62;
  font-size: 2em;
  margin-top: 10px;
}
#hero {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-img {
  width: 100%;
}
#hero-msg {
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
#hero-msg h1 {
  text-align: center;
  color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
h2 {
  margin: 0;
}

h4 {
  color: #2d5d62;
}

#hero-msg h4 {
  text-align: center;
  color: white;
}
.icon {
  width: 80px;
  padding-top: 25px;
}

.button-box {
  text-align: center;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  grid-column: 1/11;
  grid-row: 4/9;
}
.card-img {
  width: 100%;
  border: 10px solid;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px orange;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1, 1);
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 150px 0;
}
.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px orange;
}
.msg {
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px orange;
}

.card-img {
  border: 50px solid #e1c16e;
}

.book,
.join {
  background-color: #46b1c9;
  color: black;
  padding: 3px 6px;
  margin-top: 35px;
  border-radius: 6px;
}
#background {
  background-color: #2d5d62;
}
.msg {
  background-color: #46b1c9;
  line-height: 1.5em;
}
.msg p {
  font-size: 0.8em;
  padding: 7px;
}

footer {
  background-color: rgb(7, 131, 198);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a:hover {
  color: black;
}
footer a {
  text-decoration: none;
  padding: 3px;
  color: white;
}
footer p {
  font-size: 0.8em;
  padding: 8px;
  color: white;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding: 7px;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
