body {
  background-color: aqua;
  margin: 0px;
}

header {
  background-color: white;
  height: 50px;
  text-align: center;
  font-size: 30px;
}

header nav a {
  text-decoration: none;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  border: 1px solid white;
  display: inline-block;
}

ul {
  display: inline-block;
}
